# Managing a Simple Inventory System

In [1]:
class product:
  def __init__(self,name,price,quantity):
    self.name = name
    self.price = price
    self.id = id
    self.quantity = quantity
  def sell(self,amount):
    if amount<= self.quantity:
      self.quantity -= amount
      return(f"sold for {amount} from product name : '{self.name}' in a quantit : {self.quantity}")
    else:
      return(f"not enough this product '{self.name}' to sell")
  def refund(self,amount):
    self.quantity += amount
    return(f"refund '{self.name}' and new quantity {self.quantity} ")

product1 = product("iphone",25000,20)
print(product1.sell(2))  
print(product1.refund(2))

sold for 2 from product name : 'iphone' in a quantit : 18
refund 'iphone' and new quantity 20

# Simple Calculator Class

In [5]:
class calc:
  def add(self,a,b):
    return a+b
  def sub(self,a,b):
    return a-b
  def mul(self,a,b):
    return a*b
  def div(self,a,b):
    if b == 0 :
        return("ERROR")
    else:
        return a/b       
calc1 = calc()
print(calc1.add(6,5))
print(calc1.div(6,5))
print(calc1.sub(6,5))
print(calc1.mul(6,5))

11
1.2
1
30

# Creating a Student Management System

In [6]:
class student:
    def __init__(self, id, name, age):
        self.id = id
        self.name = name
        self.age = age
    def study(self,time,course_name):
      self.course_name = course_name
      self.time = time
      return(f"The time i take to study '{course_name}' at {time}")
    def display(self):
        return(f"ID : {self.id}\nName : {self.name}\nAge : {self.age}")
student1 = student("David",23,21)
print(student1.display())
print(student1.study(120,"NLP"))

ID : David
Name : 23
Age : 21
The time i take to study 'NLP' at 120

# Modeling a Bank Account

In [7]:
class Bank:
  def __init__(self,balance=0):
    self.balance = balance
  def deposit(self,amount):
    self.balance += amount
    print(f"Deposited {amount} and new balance is : {self.balance}")
  def withdraw(self,amount):
    if amount <= self.balance:
      self.balance -= amount  
      print(f"withdraw {amount} and new balance is : {self.balance}")
    else:
      print("in your balance not enough")
bank1 = Bank()
bank1.deposit(1000)
bank1.withdraw(500)
bank1.withdraw(550)

Deposited 1000 and new balance is : 1000
withdraw 500 and new balance is : 500
in your balance not enough

# Modeling a Simple Library System

In [10]:
class Book:
    def __init__(self, title, author):
        self.title = title
        self.author = author

    def display(self):
        print(f"Title: {self.title}, Author: {self.author}")


class Library:
    def __init__(self):
        self.books = []

    def add_book(self, book):
        self.books.append(book)
        print(f"Added book: {book.title}")

    def list_books(self):
        print("Library books:")
        for book in self.books:
            book.display()

book1 = Book("1984", "George Orwell")
book2 = Book("The Old Man and the Sea", "Ernest Hemingway")

library = Library()
library.add_book(book1)
library.add_book(book2)
library.list_books()

Added book: 1984
Added book: The Old Man and the Sea
Library books:
Title: 1984, Author: George Orwell
Title: The Old Man and the Sea, Author: Ernest Hemingway

# Simple Voting System

In [11]:
class Candidate:
    def __init__(self, name):
        self.name = name
        self.votes = 0

    def add_vote(self):
        self.votes += 1

    def display(self):
        print(f"{self.name}, Votes: {self.votes}")

candidate1 = Candidate("Alice")
candidate2 = Candidate("Bob")

candidate1.add_vote()
candidate1.add_vote()
candidate2.add_vote()

candidate1.display()
candidate2.display()

Alice, Votes: 2
Bob, Votes: 1

# Simple Temperature Converter

In [12]:
class TemperatureConverter:
    def __init__(self, celsius):
        self.celsius = celsius

    def fahrenheit(self):
        return (self.celsius * 9 / 5) + 32

    def kelvin(self):
        return self.celsius + 273.15

temp = TemperatureConverter(25)
print("Fahrenheit:", temp.fahrenheit())
print("Kelvin:", temp.kelvin())

Fahrenheit: 77.0
Kelvin: 298.15

# Modeling a Car Rental System

In [13]:
class Car:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year
        self.is_rented = False

    def rent(self):
        if not self.is_rented:
            self.is_rented = True
            print(f"{self.make} {self.model} rented.")
        else:
            print(f"{self.make} {self.model} is already rented.")

    def return_car(self):
        if self.is_rented:
            self.is_rented = False
            print(f"{self.make} {self.model} returned.")
        else:
            print(f"{self.make} {self.model} was not rented.")

car1 = Car("Audi", "Q7", 2017)
car1.rent()
car1.rent()
car1.return_car()
car1.return_car()

Audi Q7 rented.
Audi Q7 is already rented.
Audi Q7 returned.
Audi Q7 was not rented.